nav{
  background-color: transparent;
  padding-left: 5rem;
  padding-right: 5rem;
  #red{
    color: red !important;
  }
  a{
  color: white !important;
  // font-weight: 800;
  // font-size: 30px;
  }
  #weight{
    font-size: 20px;
    font-weight: 700;
  }
  button{
    color: white !important;
  }
}
