<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand text-uppercase text-danger" id="weight" href="#back" >pofo<span id="red">*</span></a>
  <button class="navbar-toggler navbar-toggler-right " type="button"  data-toggle="collapse" data-target="#collapsibleUl"> Menu
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleUl">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#pages">Pages</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#portfolio">Blog</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#portfolio">Elements</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#features">Features</a>
            </li>
          </ul>
      </div>
    </div>
</nav>
