<section id="first" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-sm-10 col-md-5 mx-auto">
            <p class="para">We combine design, thnik and technical craft</p>
        </div>
        <div class="col-lg-12 mx-auto rp">
          <h1>RESTAURANT
            <br>
            PHOTOGRAPHY</h1>
          </div>
          <div class="col-md-9 mx-auto icons-items">
            <i class="fab fa-facebook"><a href="#"></a></i>
            <i class="fab fa-twitter"><a href="#"></a></i>
            <i class="fab fa-google-plus-square"><a href="#"></a></i>
            <i class="fab fa-dribbble-square"><a href="#"></a></i>
          </div>
      </div>
    </div>
</section>
<section id="second" class="text-center">
  <div class="conatiner">
      <div class="col-md-5 mx-auto">
        <p clas="text-muted">
          ABOUT PHOTOGRAPHY PROJECT
        </p>
      </div>
      <div class="col-xl-10 mx-auto care">
        <span class="caretext">Once you learn to care, you can record images with your mind or on film.
          There is no difference between the two.</span>
      </div>
    </div>
</section>
<section id="thrid" class="text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xs-12 displaytext">
        <h5> About Photpgraphy</h5>
        <br>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis fugiat aliquid officiis doloremque quisquam. Mollitia inventore cumque qui harum magnam debitis, quod aut placeat molestias dolore aspernatur, sequi ut eveniet?
        </p>
        <button class="btn btn-light">MORE PHOTOS</button>
      </div>
      <div class="col-md-4 col-xs-12 col-mb-4 sm-height-300px img">

      </div>
      <div class="col-md-4 col-xs-12 col-mb-4 sm-height-300px img2">
      </div>
    </div>
  </div>
</section>
<section id="fourth" class="text-center bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 order-lg-1 left">
        <h2> A tear contains an ocean. A photographer is aware of the tiny moments in a persons life that reveal greater truths.</h2>
        <p class="text-muted">-Paul Rand/ Creative Director</p>
      </div>
      <div class="col-lg-6 order-lg-2 right">
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae impedit, numquam perspiciatis rem modi animi! Exercitationem quis, reprehenderit fugit, sunt architecto velit, reiciendis doloribus provident mollitia consequatur placeat ab nostrum magnam rerum sapiente maxime dolorem! Ipsam cupiditate ipsa ex sit at dolorem quos nihil ratione quae quis eos, ipsum est.</p>
      </div>
    </div>
  </div>
</section>
<section id="fifth" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p class="text-muted">ABOUT RESTARUANTS PHOTOGRAPHY</p>
      </div>
      <div class="col-xl-10">
        <h2>Taking an image, freezin  moment, reveals how rich reality turly is.</h2>
      </div>
      <div class="col-mb-5">
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reprehenderit aspernatur blanditiis neque quaerat nisi laborum magnam placeat aperiam hic quisquam fugit maxime quae eaque repellat deserunt obcaecati eius dignissimos atque nemo molestiae pariatur, beatae quas ex? Saepe quam minus et ea a consectetur vel repellendus ex odio dolore ipsam architecto adipisci officia quidem soluta, omnis, temporibus amet perspiciatis nobis?</p>
        <button class="btn btn-dark text-light">EXPLORE PHOTOGRAPHY</button>
      </div>
    </div>
  </div>
</section>
<section id="six" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">
          OUR RECENT WORKS
        </p>
      </div>
      <div class="col-xl-12">
        <h3>
          New stunning projects for our amazing clients!
        </h3>
      </div>
    </div>
  </div>
</section>
